# EUR

In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
def getdistributed(sub1):
    up = 0
    down = 0
    balance = 0
    
    up_percent=0
    down_percent=0
    balance_percent = 0

    for i in sub1:
        if i == 0:
            down += 1
        elif i == 1:
            up += 1
        elif i == 2:
            up += 1
    if (up != 0 or down != 0):
        up_percent = (up/(down+up+balance))*100
        down_percent = (down/(down+up+balance))*100
        balance_percent = (balance/(down+up+balance))*100

    return [up_percent,down_percent,balance_percent]

In [3]:
def get_set1_cutsize(sub1):
    star="2016-01-01"
    train="2020-01-01"
    validation="2020-04-01"
    test="2020-07-01"
    a= sub1[sub1["date"]<train].shape[0]
    b= sub1[((sub1["date"]>=train) & (sub1["date"]<validation))].shape[0]
    c= sub1[((sub1["date"]<test) & (sub1["date"]>=validation))].shape[0]
    
    print("trainset size:",a)
    print("validationset size:",b)
    print("testset size:",c)
    
    return a,(a+b),(a+b+c)

In [4]:
def get_set2_cutsize(sub1):
    star="2016-04-01"
    train="2020-04-01"
    validation="2020-07-01"
    test="2020-10-01"
    a= sub1[sub1["date"]<train].shape[0]
    b= sub1[((sub1["date"]>=train) & (sub1["date"]<validation))].shape[0]
    c= sub1[((sub1["date"]<test) & (sub1["date"]>=validation))].shape[0]
    print("trainset size:",a)
    print("validationset size:",b)
    print("testset size:",c)
    
    return a,(a+b),(a+b+c)

In [5]:
def get_set3_cutsize(sub1):
    star="2016-07-01"
    train="2020-07-01"
    validation="2020-10-01"
    test="2021-01-01"
    a= sub1[sub1["date"]<train].shape[0]
    b= sub1[((sub1["date"]>=train) & (sub1["date"]<validation))].shape[0]
    c= sub1[((sub1["date"]<test) & (sub1["date"]>=validation))].shape[0]
    print("trainset size:",a)
    print("validationset size:",b)
    print("testset size:",c)
    
    return a,(a+b),(a+b+c)

#### 子集一

In [6]:
eur_df1 = pd.read_csv("./Pre_data/move_window/EUR/EUR1.csv", index_col=0)

In [7]:
eur_df1

,date,word2vec_body,tfidf_body,bert_body,source_title,binary,ternary_1,ternary_2
0,2016-01-01,distrust in banking system hinders capital con...,distrust banking system hinders capital contro...,['distrust in banking system hinders capital c...,Bloomberg Business,0.0,0.0,0.0
1,2016-01-01,it is trades for the new year the fast money...,trade new year fast money trader give trade ma...,"['it is ', ' trades for the new year the fast...",CNBC,0.0,0.0,0.0
2,2016-01-02,profit growth monetary policy to spur further ...,profit growth monetary policy spur outperforma...,['profit growth monetary policy to spur furthe...,Bloomberg Business,0.0,0.0,0.0
3,2016-01-02,taipei taiwan dec prnewswire heraeus photovol...,taipei taiwan dec prnewswire heraeus photovolt...,['taipei taiwan dec prnewswire heraeus photov...,MarketWatch,0.0,0.0,0.0
4,2016-01-02,summary poor inflation shaky business confide...,summary poor inflation shaky business confiden...,['summary poor inflation shaky business confi...,Seeking Alpha,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
66658,2020-06-30,the morgan stanley global franchise fund has r...,morgan stanley global franchise fund release f...,['the morgan stanley global franchise fund has...,Yahoo Finance,0.0,2.0,2.0
66659,2020-06-30,the europas has previously awarded innovative ...,europa previously award innovative startup lik...,['the europas has previously awarded innovativ...,Yahoo Finance,0.0,2.0,2.0
66660,2020-06-30,the bank for international settlements bis wil...,bank international settlement bis establish fo...,['the bank for international settlements bis w...,Yahoo Finance,0.0,2.0,2.0
66661,2020-06-30,how has the coronavirus pandemic changed peopl...,coronavirus pandemic change people perception ...,['how has the coronavirus pandemic changed peo...,Bloomberg Business,0.0,2.0,2.0
66662,2020-06-30,deal for largest european lbo in decade arrang...,deal large european lbo decade arrange virus h...,['deal for largest european lbo in decade arra...,Bloomberg Business,0.0,2.0,2.0

In [8]:
# 依來源分類
groupset = eur_df1.groupby("source_title")
print(type(groupset))
print(groupset.size())

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
source_title
Bloomberg Business    14281
CNBC                  10033
Financial Times       12639
MarketWatch            6519
Seeking Alpha         11936
Yahoo Finance         11255
dtype: int64

In [9]:
eur_YF = groupset.get_group("Yahoo Finance")
eur_BG = groupset.get_group("Bloomberg Business")
eur_CNBC = groupset.get_group("CNBC")
eur_MW = groupset.get_group("MarketWatch")
eur_SA = groupset.get_group("Seeking Alpha")
eur_FT = groupset.get_group("Financial Times")

In [10]:
eur_YF = eur_YF.reset_index(drop=True)
eur_BG = eur_BG.reset_index(drop=True)
eur_CNBC = eur_CNBC.reset_index(drop=True)
eur_MW = eur_MW.reset_index(drop=True)
eur_SA = eur_SA.reset_index(drop=True)
eur_FT = eur_FT.reset_index(drop=True)

In [11]:
train,vali,test = get_set1_cutsize(eur_YF)
print(eur_YF.shape[0])
print(train) #-> df.iloc[0:train]
print(vali)  #-> df.iloc[train:vali]
print(test)  #-> df.iloc[vali:test]

trainset size: 10181
validationset size: 0
testset size: 1074
11255
10181
10181
11255

In [12]:
print("訓練標籤:")
getdistributed(eur_YF[].iloc[0:train])
print("驗證標籤:")
getdistributed(eur_YF[].iloc[train:vali])
print("測試標籤:")
getdistributed(eur_YF[].iloc[vali:test])

SyntaxError: invalid syntax (<ipython-input-12-644e0ca49577>, line 2)

In [210]:
# 把這些標籤分布儲存起來(各自存成訓練、驗證、測試)
eur_train_label = pd.DataFrame()
eur_vlidation_label = pd.DataFrame()
eur_test_label = pd.DataFrame()

# index"0" 上漲 , index"1" 下跌
train,vali,test = get_set1_cutsize(eur_YF)
eur_train_label["eur_YF"] = getdistributed(eur_YF.iloc[0:train])
eur_vlidation_label["eur_YF"] = getdistributed(eur_YF.iloc[train:vali])
eur_test_label["eur_YF"] = getdistributed(eur_YF.iloc[vali:test])

trainset size: 10181
validationset size: 0
testset size: 1074

In [211]:
train,vali,test = get_set1_cutsize(eur_BG)
eur_train_label["eur_BG"] = getdistributed(eur_BG.iloc[0:train])
eur_vlidation_label["eur_BG"] = getdistributed(eur_BG.iloc[train:vali])
eur_test_label["eur_BG"] = getdistributed(eur_BG.iloc[vali:test])

trainset size: 12604
validationset size: 469
testset size: 932

In [212]:
train,vali,test = get_set1_cutsize(eur_CNBC)
eur_train_label["eur_CNBC"] = getdistributed(eur_CNBC.iloc[0:train])
eur_vlidation_label["eur_CNBC"] = getdistributed(eur_CNBC.iloc[train:vali])
eur_test_label["eur_CNBC"] = getdistributed(eur_CNBC.iloc[vali:test])

trainset size: 9102
validationset size: 189
testset size: 206

In [213]:
train,vali,test = get_set1_cutsize(eur_MW)
eur_train_label["eur_MW"] = getdistributed(eur_MW.iloc[0:train])
eur_vlidation_label["eur_MW"] = getdistributed(eur_MW.iloc[train:vali])
eur_test_label["eur_MW"] = getdistributed(eur_MW.iloc[vali:test])

trainset size: 5813
validationset size: 119
testset size: 383

In [214]:
train,vali,test = get_set1_cutsize(eur_SA)
eur_train_label["eur_SA"] = getdistributed(eur_SA.iloc[0:train])
eur_vlidation_label["eur_SA"] = getdistributed(eur_SA.iloc[train:vali])
eur_test_label["eur_SA"] = getdistributed(eur_SA.iloc[vali:test])

trainset size: 10303
validationset size: 299
testset size: 792

In [215]:
train,vali,test = get_set1_cutsize(eur_FT)
eur_train_label["eur_FT"] = getdistributed(eur_FT.iloc[0:train])
eur_vlidation_label["eur_FT"] = getdistributed(eur_FT.iloc[train:vali])
eur_test_label["eur_FT"] = getdistributed(eur_FT.iloc[vali:test])

trainset size: 10738
validationset size: 382
testset size: 982

In [216]:
train,vali,test = get_set1_cutsize(eur_df1)
eur_train_label["eur_df1"] = getdistributed(eur_df1.iloc[0:train])
eur_vlidation_label["eur_df1"] = getdistributed(eur_df1.iloc[train:vali])
eur_test_label["eur_df1"] = getdistributed(eur_df1.iloc[vali:test])

trainset size: 58741
validationset size: 1458
testset size: 4369

In [217]:
eur_train_label

      eur_YF     eur_BG   eur_CNBC     eur_MW     eur_SA     eur_FT    eur_df1
0  52.254199  50.880673  49.868161  50.129021  49.393381  48.956975  50.274936
1  47.745801  49.119327  50.131839  49.870979  50.606619  51.043025  49.725064

In [218]:
eur_vlidation_label

   eur_YF     eur_BG  eur_CNBC     eur_MW     eur_SA     eur_FT    eur_df1
0       0  53.944563  59.78836  43.697479  60.869565  54.712042  55.486968
1       0  46.055437  40.21164  56.302521  39.130435  45.287958  44.513032

In [219]:
eur_test_label

      eur_YF     eur_BG   eur_CNBC     eur_MW     eur_SA     eur_FT    eur_df1
0  55.586592  47.961373  51.941748  57.180157  46.969697  47.556008  50.560769
1  44.413408  52.038627  48.058252  42.819843  53.030303  52.443992  49.439231

In [220]:
eur_train_label.to_csv("./result/Label/EUR/1/eur_train_label.csv")
eur_vlidation_label.to_csv("./result/Label/EUR/1/eur_vlidation_label.csv")
eur_test_label.to_csv("./result/Label/EUR/1/eur_test_label.csv")

#### 子集二

In [221]:
eur_df2 = pd.read_csv("./Pre_data/move_window/EUR/EUR2.csv", index_col=0)

In [222]:
groupset = eur_df2.groupby("source_title")

eur_YF = groupset.get_group("Yahoo Finance")
eur_BG = groupset.get_group("Bloomberg Business")
eur_CNBC = groupset.get_group("CNBC")
eur_MW = groupset.get_group("MarketWatch")
eur_SA = groupset.get_group("Seeking Alpha")
eur_FT = groupset.get_group("Financial Times")

eur_YF = eur_YF.reset_index(drop=True)
eur_BG = eur_BG.reset_index(drop=True)
eur_CNBC = eur_CNBC.reset_index(drop=True)
eur_MW = eur_MW.reset_index(drop=True)
eur_SA = eur_SA.reset_index(drop=True)
eur_FT = eur_FT.reset_index(drop=True)

# 把這些標籤分布儲存起來(各自存成訓練、驗證、測試)
eur_train_label = pd.DataFrame()
eur_vlidation_label = pd.DataFrame()
eur_test_label = pd.DataFrame()

# index"0" 上漲 , index"1" 下跌
train,vali,test = get_set2_cutsize(eur_YF)
eur_train_label["eur_YF"] = getdistributed(eur_YF.iloc[0:train])
eur_vlidation_label["eur_YF"] = getdistributed(eur_YF.iloc[train:vali])
eur_test_label["eur_YF"] = getdistributed(eur_YF.iloc[vali:test])

train,vali,test = get_set2_cutsize(eur_BG)
eur_train_label["eur_BG"] = getdistributed(eur_BG.iloc[0:train])
eur_vlidation_label["eur_BG"] = getdistributed(eur_BG.iloc[train:vali])
eur_test_label["eur_BG"] = getdistributed(eur_BG.iloc[vali:test])

train,vali,test = get_set2_cutsize(eur_CNBC)
eur_train_label["eur_CNBC"] = getdistributed(eur_CNBC.iloc[0:train])
eur_vlidation_label["eur_CNBC"] = getdistributed(eur_CNBC.iloc[train:vali])
eur_test_label["eur_CNBC"] = getdistributed(eur_CNBC.iloc[vali:test])

train,vali,test = get_set2_cutsize(eur_MW)
eur_train_label["eur_MW"] = getdistributed(eur_MW.iloc[0:train])
eur_vlidation_label["eur_MW"] = getdistributed(eur_MW.iloc[train:vali])
eur_test_label["eur_MW"] = getdistributed(eur_MW.iloc[vali:test])

train,vali,test = get_set2_cutsize(eur_SA)
eur_train_label["eur_SA"] = getdistributed(eur_SA.iloc[0:train])
eur_vlidation_label["eur_SA"] = getdistributed(eur_SA.iloc[train:vali])
eur_test_label["eur_SA"] = getdistributed(eur_SA.iloc[vali:test])

train,vali,test = get_set2_cutsize(eur_FT)
eur_train_label["eur_FT"] = getdistributed(eur_FT.iloc[0:train])
eur_vlidation_label["eur_FT"] = getdistributed(eur_FT.iloc[train:vali])
eur_test_label["eur_FT"] = getdistributed(eur_FT.iloc[vali:test])

train,vali,test = get_set2_cutsize(eur_df2)
eur_train_label["eur_df2"] = getdistributed(eur_df2.iloc[0:train])
eur_vlidation_label["eur_df2"] = getdistributed(eur_df2.iloc[train:vali])
eur_test_label["eur_df2"] = getdistributed(eur_df2.iloc[vali:test])

trainset size: 10086
validationset size: 1074
testset size: 1033
trainset size: 11723
validationset size: 932
testset size: 962
trainset size: 9035
validationset size: 206
testset size: 205
trainset size: 5453
validationset size: 383
testset size: 452
trainset size: 10542
validationset size: 792
testset size: 1142
trainset size: 10895
validationset size: 982
testset size: 1019
trainset size: 57734
validationset size: 4369
testset size: 4813

In [223]:
eur_train_label

      eur_YF     eur_BG   eur_CNBC     eur_MW     eur_SA     eur_FT    eur_df2
0  52.310133  52.205067  50.127283  49.972492  49.781825  49.215236  50.680708
1  47.689867  47.794933  49.872717  50.027508  50.218175  50.784764  49.319292

In [224]:
eur_vlidation_label

      eur_YF     eur_BG   eur_CNBC     eur_MW     eur_SA     eur_FT    eur_df2
0  55.586592  47.961373  51.941748  57.180157  46.969697  47.556008  50.560769
1  44.413408  52.038627  48.058252  42.819843  53.030303  52.443992  49.439231

In [225]:
eur_test_label

      eur_YF    eur_BG   eur_CNBC     eur_MW     eur_SA     eur_FT    eur_df2
0  63.117135  59.77131  61.463415  61.283186  56.567426  59.470069  59.879493
1  36.882865  40.22869  38.536585  38.716814  43.432574  40.529931  40.120507

In [226]:
eur_train_label.to_csv("./result/Label/EUR/2/eur_train_label.csv")
eur_vlidation_label.to_csv("./result/Label/EUR/2/eur_vlidation_label.csv")
eur_test_label.to_csv("./result/Label/EUR/2/eur_test_label.csv")

#### 子集三

In [227]:
eur_df3 = pd.read_csv("./Pre_data/move_window/EUR/EUR3.csv", index_col=0)

In [228]:
groupset = eur_df3.groupby("source_title")

eur_YF = groupset.get_group("Yahoo Finance")
eur_BG = groupset.get_group("Bloomberg Business")
eur_CNBC = groupset.get_group("CNBC")
eur_MW = groupset.get_group("MarketWatch")
eur_SA = groupset.get_group("Seeking Alpha")
eur_FT = groupset.get_group("Financial Times")

eur_YF = eur_YF.reset_index(drop=True)
eur_BG = eur_BG.reset_index(drop=True)
eur_CNBC = eur_CNBC.reset_index(drop=True)
eur_MW = eur_MW.reset_index(drop=True)
eur_SA = eur_SA.reset_index(drop=True)
eur_FT = eur_FT.reset_index(drop=True)

# 把這些標籤分布儲存起來(各自存成訓練、驗證、測試)
eur_train_label = pd.DataFrame()
eur_vlidation_label = pd.DataFrame()
eur_test_label = pd.DataFrame()

# index"0" 上漲 , index"1" 下跌
train,vali,test = get_set3_cutsize(eur_YF)
eur_train_label["eur_YF"] = getdistributed(eur_YF.iloc[0:train])
eur_vlidation_label["eur_YF"] = getdistributed(eur_YF.iloc[train:vali])
eur_test_label["eur_YF"] = getdistributed(eur_YF.iloc[vali:test])

train,vali,test = get_set3_cutsize(eur_BG)
eur_train_label["eur_BG"] = getdistributed(eur_BG.iloc[0:train])
eur_vlidation_label["eur_BG"] = getdistributed(eur_BG.iloc[train:vali])
eur_test_label["eur_BG"] = getdistributed(eur_BG.iloc[vali:test])

train,vali,test = get_set3_cutsize(eur_CNBC)
eur_train_label["eur_CNBC"] = getdistributed(eur_CNBC.iloc[0:train])
eur_vlidation_label["eur_CNBC"] = getdistributed(eur_CNBC.iloc[train:vali])
eur_test_label["eur_CNBC"] = getdistributed(eur_CNBC.iloc[vali:test])

train,vali,test = get_set3_cutsize(eur_MW)
eur_train_label["eur_MW"] = getdistributed(eur_MW.iloc[0:train])
eur_vlidation_label["eur_MW"] = getdistributed(eur_MW.iloc[train:vali])
eur_test_label["eur_MW"] = getdistributed(eur_MW.iloc[vali:test])

train,vali,test = get_set3_cutsize(eur_SA)
eur_train_label["eur_SA"] = getdistributed(eur_SA.iloc[0:train])
eur_vlidation_label["eur_SA"] = getdistributed(eur_SA.iloc[train:vali])
eur_test_label["eur_SA"] = getdistributed(eur_SA.iloc[vali:test])

train,vali,test = get_set3_cutsize(eur_FT)
eur_train_label["eur_FT"] = getdistributed(eur_FT.iloc[0:train])
eur_vlidation_label["eur_FT"] = getdistributed(eur_FT.iloc[train:vali])
eur_test_label["eur_FT"] = getdistributed(eur_FT.iloc[vali:test])

train,vali,test = get_set3_cutsize(eur_df3)
eur_train_label["eur_df3"] = getdistributed(eur_df3.iloc[0:train])
eur_vlidation_label["eur_df3"] = getdistributed(eur_df3.iloc[train:vali])
eur_test_label["eur_df3"] = getdistributed(eur_df3.iloc[vali:test])

trainset size: 10873
validationset size: 1033
testset size: 324
trainset size: 11156
validationset size: 962
testset size: 931
trainset size: 8872
validationset size: 205
testset size: 131
trainset size: 5227
validationset size: 452
testset size: 485
trainset size: 11043
validationset size: 1142
testset size: 579
trainset size: 11473
validationset size: 1019
testset size: 949
trainset size: 58644
validationset size: 4813
testset size: 3399

In [229]:
eur_train_label

      eur_YF     eur_BG   eur_CNBC     eur_MW     eur_SA     eur_FT    eur_df3
0  52.837303  52.115454  50.338142  51.463555  49.542697  49.106598  50.849192
1  47.162697  47.884546  49.661858  48.536445  50.457303  50.893402  49.150808

In [230]:
eur_vlidation_label

      eur_YF    eur_BG   eur_CNBC     eur_MW     eur_SA     eur_FT    eur_df3
0  63.117135  59.77131  61.463415  61.283186  56.567426  59.470069  59.879493
1  36.882865  40.22869  38.536585  38.716814  43.432574  40.529931  40.120507

In [231]:
eur_test_label

      eur_YF     eur_BG   eur_CNBC     eur_MW     eur_SA     eur_FT   eur_df3
0  54.938272  51.987111  55.725191  59.587629  50.431779  52.897787  53.48632
1  45.061728  48.012889  44.274809  40.412371  49.568221  47.102213  46.51368

In [232]:
eur_train_label.to_csv("./result/Label/EUR/3/eur_train_label.csv")
eur_vlidation_label.to_csv("./result/Label/EUR/3/eur_vlidation_label.csv")
eur_test_label.to_csv("./result/Label/EUR/3/eur_test_label.csv")

# AUD

#### 子集一

In [233]:
aud_df1 = pd.read_csv("./Pre_data/move_window/AUD/AUD1.csv", index_col=0)
groupset = aud_df1.groupby("source_title")

aud_YF = groupset.get_group("Yahoo Finance")
aud_BG = groupset.get_group("Bloomberg Business")
aud_CNBC = groupset.get_group("CNBC")
aud_MW = groupset.get_group("MarketWatch")
aud_SA = groupset.get_group("Seeking Alpha")
aud_FT = groupset.get_group("Financial Times")

aud_YF = aud_YF.reset_index(drop=True)
aud_BG = aud_BG.reset_index(drop=True)
aud_CNBC = aud_CNBC.reset_index(drop=True)
aud_MW = aud_MW.reset_index(drop=True)
aud_SA = aud_SA.reset_index(drop=True)
aud_FT = aud_FT.reset_index(drop=True)

# 把這些標籤分布儲存起來(各自存成訓練、驗證、測試)
aud_train_label = pd.DataFrame()
aud_vlidation_label = pd.DataFrame()
aud_test_label = pd.DataFrame()

# index"0" 上漲 , index"1" 下跌
train,vali,test = get_set1_cutsize(aud_YF)
aud_train_label["aud_YF"] = getdistributed(aud_YF.iloc[0:train])
aud_vlidation_label["aud_YF"] = getdistributed(aud_YF.iloc[train:vali])
aud_test_label["aud_YF"] = getdistributed(aud_YF.iloc[vali:test])

train,vali,test = get_set1_cutsize(aud_BG)
aud_train_label["aud_BG"] = getdistributed(aud_BG.iloc[0:train])
aud_vlidation_label["aud_BG"] = getdistributed(aud_BG.iloc[train:vali])
aud_test_label["aud_BG"] = getdistributed(aud_BG.iloc[vali:test])

train,vali,test = get_set1_cutsize(aud_CNBC)
aud_train_label["aud_CNBC"] = getdistributed(aud_CNBC.iloc[0:train])
aud_vlidation_label["aud_CNBC"] = getdistributed(aud_CNBC.iloc[train:vali])
aud_test_label["aud_CNBC"] = getdistributed(aud_CNBC.iloc[vali:test])

train,vali,test = get_set1_cutsize(aud_MW)
aud_train_label["aud_MW"] = getdistributed(aud_MW.iloc[0:train])
aud_vlidation_label["aud_MW"] = getdistributed(aud_MW.iloc[train:vali])
aud_test_label["aud_MW"] = getdistributed(aud_MW.iloc[vali:test])

train,vali,test = get_set1_cutsize(aud_SA)
aud_train_label["aud_SA"] = getdistributed(aud_SA.iloc[0:train])
aud_vlidation_label["aud_SA"] = getdistributed(aud_SA.iloc[train:vali])
aud_test_label["aud_SA"] = getdistributed(aud_SA.iloc[vali:test])

train,vali,test = get_set1_cutsize(aud_FT)
aud_train_label["aud_FT"] = getdistributed(aud_FT.iloc[0:train])
aud_vlidation_label["aud_FT"] = getdistributed(aud_FT.iloc[train:vali])
aud_test_label["aud_FT"] = getdistributed(aud_FT.iloc[vali:test])

train,vali,test = get_set1_cutsize(aud_df1)
aud_train_label["aud_df1"] = getdistributed(aud_df1.iloc[0:train])
aud_vlidation_label["aud_df1"] = getdistributed(aud_df1.iloc[train:vali])
aud_test_label["aud_df1"] = getdistributed(aud_df1.iloc[vali:test])

trainset size: 2884
validationset size: 1
testset size: 269
trainset size: 1695
validationset size: 89
testset size: 178
trainset size: 1388
validationset size: 41
testset size: 32
trainset size: 844
validationset size: 65
testset size: 203
trainset size: 2642
validationset size: 87
testset size: 213
trainset size: 887
validationset size: 40
testset size: 93
trainset size: 10340
validationset size: 323
testset size: 988

In [234]:
aud_train_label

      aud_YF     aud_BG   aud_CNBC     aud_MW     aud_SA     aud_FT    aud_df1
0  50.485437  53.215339  51.080692  53.791469  51.476154  49.605411  51.460348
1  49.514563  46.784661  48.919308  46.208531  48.523846  50.394589  48.539652

In [235]:
aud_vlidation_label

   aud_YF     aud_BG   aud_CNBC     aud_MW     aud_SA  aud_FT    aud_df1
0   100.0  48.314607  24.390244  56.923077  56.321839    57.5  50.464396
1     0.0  51.685393  75.609756  43.076923  43.678161    42.5  49.535604

In [236]:
aud_test_label

      aud_YF     aud_BG  aud_CNBC     aud_MW     aud_SA     aud_FT    aud_df1
0  70.260223  62.921348      50.0  63.546798  67.605634  64.516129  65.789474
1  29.739777  37.078652      50.0  36.453202  32.394366  35.483871  34.210526

In [238]:
aud_train_label.to_csv("./result/Label/AUD/1/aud_train_label.csv")
aud_vlidation_label.to_csv("./result/Label/AUD/1/aud_vlidation_label.csv")
aud_test_label.to_csv("./result/Label/AUD/1/aud_test_label.csv")

#### 子集二

In [249]:
aud_df2 = pd.read_csv("./Pre_data/move_window/AUD/AUD2.csv", index_col=0)
groupset = aud_df2.groupby("source_title")

aud_YF = groupset.get_group("Yahoo Finance")
aud_BG = groupset.get_group("Bloomberg Business")
aud_CNBC = groupset.get_group("CNBC")
aud_MW = groupset.get_group("MarketWatch")
aud_SA = groupset.get_group("Seeking Alpha")
aud_FT = groupset.get_group("Financial Times")

aud_YF = aud_YF.reset_index(drop=True)
aud_BG = aud_BG.reset_index(drop=True)
aud_CNBC = aud_CNBC.reset_index(drop=True)
aud_MW = aud_MW.reset_index(drop=True)
aud_SA = aud_SA.reset_index(drop=True)
aud_FT = aud_FT.reset_index(drop=True)

# 把這些標籤分布儲存起來(各自存成訓練、驗證、測試)
aud_train_label = pd.DataFrame()
aud_vlidation_label = pd.DataFrame()
aud_test_label = pd.DataFrame()

# index"0" 上漲 , index"1" 下跌
train,vali,test = get_set2_cutsize(aud_YF)
aud_train_label["aud_YF"] = getdistributed(aud_YF.iloc[0:train])
aud_vlidation_label["aud_YF"] = getdistributed(aud_YF.iloc[train:vali])
aud_test_label["aud_YF"] = getdistributed(aud_YF.iloc[vali:test])

train,vali,test = get_set2_cutsize(aud_BG)
aud_train_label["aud_BG"] = getdistributed(aud_BG.iloc[0:train])
aud_vlidation_label["aud_BG"] = getdistributed(aud_BG.iloc[train:vali])
aud_test_label["aud_BG"] = getdistributed(aud_BG.iloc[vali:test])

train,vali,test = get_set2_cutsize(aud_CNBC)
aud_train_label["aud_CNBC"] = getdistributed(aud_CNBC.iloc[0:train])
aud_vlidation_label["aud_CNBC"] = getdistributed(aud_CNBC.iloc[train:vali])
aud_test_label["aud_CNBC"] = getdistributed(aud_CNBC.iloc[vali:test])

train,vali,test = get_set2_cutsize(aud_MW)
aud_train_label["aud_MW"] = getdistributed(aud_MW.iloc[0:train])
aud_vlidation_label["aud_MW"] = getdistributed(aud_MW.iloc[train:vali])
aud_test_label["aud_MW"] = getdistributed(aud_MW.iloc[vali:test])

train,vali,test = get_set2_cutsize(aud_SA)
aud_train_label["aud_SA"] = getdistributed(aud_SA.iloc[0:train])
aud_vlidation_label["aud_SA"] = getdistributed(aud_SA.iloc[train:vali])
aud_test_label["aud_SA"] = getdistributed(aud_SA.iloc[vali:test])

train,vali,test = get_set2_cutsize(aud_FT)
aud_train_label["aud_FT"] = getdistributed(aud_FT.iloc[0:train])
aud_vlidation_label["aud_FT"] = getdistributed(aud_FT.iloc[train:vali])
aud_test_label["aud_FT"] = getdistributed(aud_FT.iloc[vali:test])

train,vali,test = get_set2_cutsize(aud_df1)
aud_train_label["aud_df2"] = getdistributed(aud_df2.iloc[0:train])
aud_vlidation_label["aud_df2"] = getdistributed(aud_df2.iloc[train:vali])
aud_test_label["aud_df2"] = getdistributed(aud_df2.iloc[vali:test])

trainset size: 2874
validationset size: 269
testset size: 253
trainset size: 1614
validationset size: 178
testset size: 203
trainset size: 1393
validationset size: 32
testset size: 37
trainset size: 836
validationset size: 203
testset size: 194
trainset size: 2712
validationset size: 213
testset size: 295
trainset size: 915
validationset size: 93
testset size: 58
trainset size: 10663
validationset size: 988
testset size: 385

In [250]:
aud_train_label

      aud_YF     aud_BG   aud_CNBC     aud_MW     aud_SA     aud_FT    aud_df2
0  50.487126  52.850062  49.892319  53.229665  51.511799  49.945355  51.674013
1  49.512874  47.149938  50.107681  46.770335  48.488201  50.054645  48.325987

In [251]:
aud_vlidation_label

      aud_YF     aud_BG  aud_CNBC     aud_MW     aud_SA     aud_FT    aud_df2
0  70.260223  62.921348      50.0  63.546798  67.605634  64.516129  66.497976
1  29.739777  37.078652      50.0  36.453202  32.394366  35.483871  33.502024

In [252]:
aud_test_label

      aud_YF     aud_BG   aud_CNBC     aud_MW     aud_SA     aud_FT    aud_df2
0  58.498024  62.068966  54.054054  58.762887  59.322034  62.068966  64.935065
1  41.501976  37.931034  45.945946  41.237113  40.677966  37.931034  35.064935

In [253]:
aud_train_label.to_csv("./result/Label/AUD/2/aud_train_label.csv")
aud_vlidation_label.to_csv("./result/Label/AUD/2/aud_vlidation_label.csv")
aud_test_label.to_csv("./result/Label/AUD/2/aud_test_label.csv")

#### 子集三

In [256]:
aud_df3 = pd.read_csv("./Pre_data/move_window/AUD/AUD3.csv", index_col=0)
groupset = aud_df3.groupby("source_title")

aud_YF = groupset.get_group("Yahoo Finance")
aud_BG = groupset.get_group("Bloomberg Business")
aud_CNBC = groupset.get_group("CNBC")
aud_MW = groupset.get_group("MarketWatch")
aud_SA = groupset.get_group("Seeking Alpha")
aud_FT = groupset.get_group("Financial Times")

aud_YF = aud_YF.reset_index(drop=True)
aud_BG = aud_BG.reset_index(drop=True)
aud_CNBC = aud_CNBC.reset_index(drop=True)
aud_MW = aud_MW.reset_index(drop=True)
aud_SA = aud_SA.reset_index(drop=True)
aud_FT = aud_FT.reset_index(drop=True)

# 把這些標籤分布儲存起來(各自存成訓練、驗證、測試)
aud_train_label = pd.DataFrame()
aud_vlidation_label = pd.DataFrame()
aud_test_label = pd.DataFrame()

# index"0" 上漲 , index"1" 下跌
train,vali,test = get_set3_cutsize(aud_YF)
aud_train_label["aud_YF"] = getdistributed(aud_YF.iloc[0:train])
aud_vlidation_label["aud_YF"] = getdistributed(aud_YF.iloc[train:vali])
aud_test_label["aud_YF"] = getdistributed(aud_YF.iloc[vali:test])

train,vali,test = get_set3_cutsize(aud_BG)
aud_train_label["aud_BG"] = getdistributed(aud_BG.iloc[0:train])
aud_vlidation_label["aud_BG"] = getdistributed(aud_BG.iloc[train:vali])
aud_test_label["aud_BG"] = getdistributed(aud_BG.iloc[vali:test])

train,vali,test = get_set3_cutsize(aud_CNBC)
aud_train_label["aud_CNBC"] = getdistributed(aud_CNBC.iloc[0:train])
aud_vlidation_label["aud_CNBC"] = getdistributed(aud_CNBC.iloc[train:vali])
aud_test_label["aud_CNBC"] = getdistributed(aud_CNBC.iloc[vali:test])

train,vali,test = get_set3_cutsize(aud_MW)
aud_train_label["aud_MW"] = getdistributed(aud_MW.iloc[0:train])
aud_vlidation_label["aud_MW"] = getdistributed(aud_MW.iloc[train:vali])
aud_test_label["aud_MW"] = getdistributed(aud_MW.iloc[vali:test])

train,vali,test = get_set3_cutsize(aud_SA)
aud_train_label["aud_SA"] = getdistributed(aud_SA.iloc[0:train])
aud_vlidation_label["aud_SA"] = getdistributed(aud_SA.iloc[train:vali])
aud_test_label["aud_SA"] = getdistributed(aud_SA.iloc[vali:test])

train,vali,test = get_set3_cutsize(aud_FT)
aud_train_label["aud_FT"] = getdistributed(aud_FT.iloc[0:train])
aud_vlidation_label["aud_FT"] = getdistributed(aud_FT.iloc[train:vali])
aud_test_label["aud_FT"] = getdistributed(aud_FT.iloc[vali:test])

train,vali,test = get_set3_cutsize(aud_df3)
aud_train_label["aud_df3"] = getdistributed(aud_df3.iloc[0:train])
aud_vlidation_label["aud_df3"] = getdistributed(aud_df3.iloc[train:vali])
aud_test_label["aud_df3"] = getdistributed(aud_df3.iloc[vali:test])

trainset size: 3108
validationset size: 253
testset size: 45
trainset size: 1573
validationset size: 203
testset size: 170
trainset size: 1383
validationset size: 37
testset size: 53
trainset size: 955
validationset size: 194
testset size: 204
trainset size: 2870
validationset size: 295
testset size: 174
trainset size: 989
validationset size: 58
testset size: 76
trainset size: 10878
validationset size: 1040
testset size: 722

In [257]:
aud_train_label

      aud_YF     aud_BG   aud_CNBC     aud_MW    aud_SA     aud_FT   aud_df3
0  52.284427  53.973299  49.819234  55.811518  52.71777  50.758342  52.50046
1  47.715573  46.026701  50.180766  44.188482  47.28223  49.241658  47.49954

In [258]:
aud_vlidation_label

      aud_YF     aud_BG   aud_CNBC     aud_MW     aud_SA     aud_FT    aud_df3
0  58.498024  62.068966  54.054054  58.762887  59.322034  62.068966  59.519231
1  41.501976  37.931034  45.945946  41.237113  40.677966  37.931034  40.480769

In [259]:
aud_test_label

      aud_YF     aud_BG   aud_CNBC     aud_MW     aud_SA     aud_FT    aud_df3
0  55.555556  55.882353  50.943396  55.392157  52.873563  51.315789  54.155125
1  44.444444  44.117647  49.056604  44.607843  47.126437  48.684211  45.844875

In [260]:
aud_train_label.to_csv("./result/Label/AUD/3/aud_train_label.csv")
aud_vlidation_label.to_csv("./result/Label/AUD/3/aud_vlidation_label.csv")
aud_test_label.to_csv("./result/Label/AUD/3/aud_test_label.csv")

# JPY

In [262]:
jpy_df1 = pd.read_csv("./Pre_data/move_window/JPY/JPY1.csv", index_col=0)
groupset = jpy_df1.groupby("source_title")

jpy_YF = groupset.get_group("Yahoo Finance")
jpy_BG = groupset.get_group("Bloomberg Business")
jpy_CNBC = groupset.get_group("CNBC")
jpy_MW = groupset.get_group("MarketWatch")
jpy_SA = groupset.get_group("Seeking Alpha")
jpy_FT = groupset.get_group("Financial Times")

jpy_YF = jpy_YF.reset_index(drop=True)
jpy_BG = jpy_BG.reset_index(drop=True)
jpy_CNBC = jpy_CNBC.reset_index(drop=True)
jpy_MW = jpy_MW.reset_index(drop=True)
jpy_SA = jpy_SA.reset_index(drop=True)
jpy_FT = jpy_FT.reset_index(drop=True)

# 把這些標籤分布儲存起來(各自存成訓練、驗證、測試)
jpy_train_label = pd.DataFrame()
jpy_vlidation_label = pd.DataFrame()
jpy_test_label = pd.DataFrame()

# index"0" 上漲 , index"1" 下跌
train,vali,test = get_set1_cutsize(jpy_YF)
jpy_train_label["jpy_YF"] = getdistributed(jpy_YF.iloc[0:train])
jpy_vlidation_label["jpy_YF"] = getdistributed(jpy_YF.iloc[train:vali])
jpy_test_label["jpy_YF"] = getdistributed(jpy_YF.iloc[vali:test])

train,vali,test = get_set1_cutsize(jpy_BG)
jpy_train_label["jpy_BG"] = getdistributed(jpy_BG.iloc[0:train])
jpy_vlidation_label["jpy_BG"] = getdistributed(jpy_BG.iloc[train:vali])
jpy_test_label["jpy_BG"] = getdistributed(jpy_BG.iloc[vali:test])

train,vali,test = get_set1_cutsize(jpy_CNBC)
jpy_train_label["jpy_CNBC"] = getdistributed(jpy_CNBC.iloc[0:train])
jpy_vlidation_label["jpy_CNBC"] = getdistributed(jpy_CNBC.iloc[train:vali])
jpy_test_label["jpy_CNBC"] = getdistributed(jpy_CNBC.iloc[vali:test])

train,vali,test = get_set1_cutsize(jpy_MW)
jpy_train_label["jpy_MW"] = getdistributed(jpy_MW.iloc[0:train])
jpy_vlidation_label["jpy_MW"] = getdistributed(jpy_MW.iloc[train:vali])
jpy_test_label["jpy_MW"] = getdistributed(jpy_MW.iloc[vali:test])

train,vali,test = get_set1_cutsize(jpy_SA)
jpy_train_label["jpy_SA"] = getdistributed(jpy_SA.iloc[0:train])
jpy_vlidation_label["jpy_SA"] = getdistributed(jpy_SA.iloc[train:vali])
jpy_test_label["jpy_SA"] = getdistributed(jpy_SA.iloc[vali:test])

train,vali,test = get_set1_cutsize(jpy_FT)
jpy_train_label["jpy_FT"] = getdistributed(jpy_FT.iloc[0:train])
jpy_vlidation_label["jpy_FT"] = getdistributed(jpy_FT.iloc[train:vali])
jpy_test_label["jpy_FT"] = getdistributed(jpy_FT.iloc[vali:test])

train,vali,test = get_set1_cutsize(jpy_df1)
jpy_train_label["jpy_df1"] = getdistributed(jpy_df1.iloc[0:train])
jpy_vlidation_label["jpy_df1"] = getdistributed(jpy_df1.iloc[train:vali])
jpy_test_label["jpy_df1"] = getdistributed(jpy_df1.iloc[vali:test])

trainset size: 4382
validationset size: 0
testset size: 473
trainset size: 4368
validationset size: 136
testset size: 199
trainset size: 5004
validationset size: 121
testset size: 83
trainset size: 2702
validationset size: 34
testset size: 92
trainset size: 3954
validationset size: 103
testset size: 267
trainset size: 1844
validationset size: 58
testset size: 76
trainset size: 22254
validationset size: 452
testset size: 1190

In [263]:
jpy_train_label

     jpy_YF     jpy_BG   jpy_CNBC     jpy_MW     jpy_SA     jpy_FT    jpy_df1
0  48.90461  48.374542  49.220624  47.705403  51.542742  46.366594  48.984452
1  51.09539  51.625458  50.779376  52.294597  48.457258  53.633406  51.015548

In [264]:
jpy_vlidation_label

   jpy_YF     jpy_BG  jpy_CNBC     jpy_MW     jpy_SA     jpy_FT    jpy_df1
0       0  45.588235  42.14876  44.117647  58.252427  51.724138  48.230088
1       0  54.411765  57.85124  55.882353  41.747573  48.275862  51.769912

In [265]:
jpy_test_label

      jpy_YF     jpy_BG   jpy_CNBC    jpy_MW     jpy_SA     jpy_FT    jpy_df1
0  53.276956  50.753769  45.783133  53.26087  46.067416  44.736842  50.168067
1  46.723044  49.246231  54.216867  46.73913  53.932584  55.263158  49.831933

In [266]:
jpy_train_label.to_csv("./result/Label/JPY/1/jpy_train_label.csv")
jpy_vlidation_label.to_csv("./result/Label/JPY/1/jpy_vlidation_label.csv")
jpy_test_label.to_csv("./result/Label/JPY/1/jpy_test_label.csv")

#### 子集二

In [272]:
jpy_df2 = pd.read_csv("./Pre_data/move_window/JPY/JPY2.csv", index_col=0)
groupset = jpy_df2.groupby("source_title")

jpy_YF = groupset.get_group("Yahoo Finance")
jpy_BG = groupset.get_group("Bloomberg Business")
jpy_CNBC = groupset.get_group("CNBC")
jpy_MW = groupset.get_group("MarketWatch")
jpy_SA = groupset.get_group("Seeking Alpha")
jpy_FT = groupset.get_group("Financial Times")

jpy_YF = jpy_YF.reset_index(drop=True)
jpy_BG = jpy_BG.reset_index(drop=True)
jpy_CNBC = jpy_CNBC.reset_index(drop=True)
jpy_MW = jpy_MW.reset_index(drop=True)
jpy_SA = jpy_SA.reset_index(drop=True)
jpy_FT = jpy_FT.reset_index(drop=True)

# 把這些標籤分布儲存起來(各自存成訓練、驗證、測試)
jpy_train_label = pd.DataFrame()
jpy_vlidation_label = pd.DataFrame()
jpy_test_label = pd.DataFrame()

# index"0" 上漲 , index"1" 下跌
train,vali,test = get_set2_cutsize(jpy_YF)
jpy_train_label["jpy_YF"] = getdistributed(jpy_YF.iloc[0:train])
jpy_vlidation_label["jpy_YF"] = getdistributed(jpy_YF.iloc[train:vali])
jpy_test_label["jpy_YF"] = getdistributed(jpy_YF.iloc[vali:test])

train,vali,test = get_set2_cutsize(jpy_BG)
jpy_train_label["jpy_BG"] = getdistributed(jpy_BG.iloc[0:train])
jpy_vlidation_label["jpy_BG"] = getdistributed(jpy_BG.iloc[train:vali])
jpy_test_label["jpy_BG"] = getdistributed(jpy_BG.iloc[vali:test])

train,vali,test = get_set2_cutsize(jpy_CNBC)
jpy_train_label["jpy_CNBC"] = getdistributed(jpy_CNBC.iloc[0:train])
jpy_vlidation_label["jpy_CNBC"] = getdistributed(jpy_CNBC.iloc[train:vali])
jpy_test_label["jpy_CNBC"] = getdistributed(jpy_CNBC.iloc[vali:test])

train,vali,test = get_set2_cutsize(jpy_MW)
jpy_train_label["jpy_MW"] = getdistributed(jpy_MW.iloc[0:train])
jpy_vlidation_label["jpy_MW"] = getdistributed(jpy_MW.iloc[train:vali])
jpy_test_label["jpy_MW"] = getdistributed(jpy_MW.iloc[vali:test])

train,vali,test = get_set2_cutsize(jpy_SA)
jpy_train_label["jpy_SA"] = getdistributed(jpy_SA.iloc[0:train])
jpy_vlidation_label["jpy_SA"] = getdistributed(jpy_SA.iloc[train:vali])
jpy_test_label["jpy_SA"] = getdistributed(jpy_SA.iloc[vali:test])

train,vali,test = get_set2_cutsize(jpy_FT)
jpy_train_label["jpy_FT"] = getdistributed(jpy_FT.iloc[0:train])
jpy_vlidation_label["jpy_FT"] = getdistributed(jpy_FT.iloc[train:vali])
jpy_test_label["jpy_FT"] = getdistributed(jpy_FT.iloc[vali:test])

train,vali,test = get_set2_cutsize(jpy_df2)
jpy_train_label["jpy_df2"] = getdistributed(jpy_df2.iloc[0:train])
jpy_vlidation_label["jpy_df2"] = getdistributed(jpy_df2.iloc[train:vali])
jpy_test_label["jpy_df2"] = getdistributed(jpy_df2.iloc[vali:test])

trainset size: 4302
validationset size: 473
testset size: 455
trainset size: 3937
validationset size: 199
testset size: 229
trainset size: 4997
validationset size: 83
testset size: 78
trainset size: 2395
validationset size: 92
testset size: 100
trainset size: 4023
validationset size: 267
testset size: 319
trainset size: 1849
validationset size: 76
testset size: 80
trainset size: 21503
validationset size: 1190
testset size: 1261

In [273]:
jpy_train_label

     jpy_YF     jpy_BG   jpy_CNBC    jpy_MW     jpy_SA     jpy_FT    jpy_df2
0  48.74477  47.726695  49.029418  46.05428  51.628138  46.403461  48.662977
1  51.25523  52.273305  50.970582  53.94572  48.371862  53.596539  51.337023

In [274]:
jpy_vlidation_label

      jpy_YF     jpy_BG   jpy_CNBC    jpy_MW     jpy_SA     jpy_FT    jpy_df2
0  53.276956  50.753769  45.783133  53.26087  46.067416  44.736842  50.168067
1  46.723044  49.246231  54.216867  46.73913  53.932584  55.263158  49.831933

In [275]:
jpy_test_label

      jpy_YF     jpy_BG   jpy_CNBC  jpy_MW     jpy_SA  jpy_FT    jpy_df2
0  43.956044  44.104803  48.717949    37.0  49.529781   46.25  45.281523
1  56.043956  55.895197  51.282051    63.0  50.470219   53.75  54.718477

In [276]:
jpy_train_label.to_csv("./result/Label/JPY/2/jpy_train_label.csv")
jpy_vlidation_label.to_csv("./result/Label/JPY/2/jpy_vlidation_label.csv")
jpy_test_label.to_csv("./result/Label/JPY/2/jpy_test_label.csv")

#### 子集三

In [277]:
jpy_df3 = pd.read_csv("./Pre_data/move_window/JPY/JPY3.csv", index_col=0)
groupset = jpy_df3.groupby("source_title")

jpy_YF = groupset.get_group("Yahoo Finance")
jpy_BG = groupset.get_group("Bloomberg Business")
jpy_CNBC = groupset.get_group("CNBC")
jpy_MW = groupset.get_group("MarketWatch")
jpy_SA = groupset.get_group("Seeking Alpha")
jpy_FT = groupset.get_group("Financial Times")

jpy_YF = jpy_YF.reset_index(drop=True)
jpy_BG = jpy_BG.reset_index(drop=True)
jpy_CNBC = jpy_CNBC.reset_index(drop=True)
jpy_MW = jpy_MW.reset_index(drop=True)
jpy_SA = jpy_SA.reset_index(drop=True)
jpy_FT = jpy_FT.reset_index(drop=True)

# 把這些標籤分布儲存起來(各自存成訓練、驗證、測試)
jpy_train_label = pd.DataFrame()
jpy_vlidation_label = pd.DataFrame()
jpy_test_label = pd.DataFrame()

# index"0" 上漲 , index"1" 下跌
train,vali,test = get_set3_cutsize(jpy_YF)
jpy_train_label["jpy_YF"] = getdistributed(jpy_YF.iloc[0:train])
jpy_vlidation_label["jpy_YF"] = getdistributed(jpy_YF.iloc[train:vali])
jpy_test_label["jpy_YF"] = getdistributed(jpy_YF.iloc[vali:test])

train,vali,test = get_set3_cutsize(jpy_BG)
jpy_train_label["jpy_BG"] = getdistributed(jpy_BG.iloc[0:train])
jpy_vlidation_label["jpy_BG"] = getdistributed(jpy_BG.iloc[train:vali])
jpy_test_label["jpy_BG"] = getdistributed(jpy_BG.iloc[vali:test])

train,vali,test = get_set3_cutsize(jpy_CNBC)
jpy_train_label["jpy_CNBC"] = getdistributed(jpy_CNBC.iloc[0:train])
jpy_vlidation_label["jpy_CNBC"] = getdistributed(jpy_CNBC.iloc[train:vali])
jpy_test_label["jpy_CNBC"] = getdistributed(jpy_CNBC.iloc[vali:test])

train,vali,test = get_set3_cutsize(jpy_MW)
jpy_train_label["jpy_MW"] = getdistributed(jpy_MW.iloc[0:train])
jpy_vlidation_label["jpy_MW"] = getdistributed(jpy_MW.iloc[train:vali])
jpy_test_label["jpy_MW"] = getdistributed(jpy_MW.iloc[vali:test])

train,vali,test = get_set3_cutsize(jpy_SA)
jpy_train_label["jpy_SA"] = getdistributed(jpy_SA.iloc[0:train])
jpy_vlidation_label["jpy_SA"] = getdistributed(jpy_SA.iloc[train:vali])
jpy_test_label["jpy_SA"] = getdistributed(jpy_SA.iloc[vali:test])

train,vali,test = get_set3_cutsize(jpy_FT)
jpy_train_label["jpy_FT"] = getdistributed(jpy_FT.iloc[0:train])
jpy_vlidation_label["jpy_FT"] = getdistributed(jpy_FT.iloc[train:vali])
jpy_test_label["jpy_FT"] = getdistributed(jpy_FT.iloc[vali:test])

train,vali,test = get_set3_cutsize(jpy_df3)
jpy_train_label["jpy_df3"] = getdistributed(jpy_df3.iloc[0:train])
jpy_vlidation_label["jpy_df3"] = getdistributed(jpy_df3.iloc[train:vali])
jpy_test_label["jpy_df3"] = getdistributed(jpy_df3.iloc[vali:test])

trainset size: 4503
validationset size: 455
testset size: 101
trainset size: 3436
validationset size: 229
testset size: 191
trainset size: 4876
validationset size: 78
testset size: 70
trainset size: 2111
validationset size: 100
testset size: 106
trainset size: 4144
validationset size: 319
testset size: 189
trainset size: 1798
validationset size: 80
testset size: 71
trainset size: 20868
validationset size: 1261
testset size: 728

In [278]:
jpy_train_label

      jpy_YF     jpy_BG   jpy_CNBC    jpy_MW    jpy_SA     jpy_FT    jpy_df3
0  49.433711  48.399302  49.200164  46.61298  51.71332  46.885428  49.156603
1  50.566289  51.600698  50.799836  53.38702  48.28668  53.114572  50.843397

In [279]:
jpy_vlidation_label

      jpy_YF     jpy_BG   jpy_CNBC  jpy_MW     jpy_SA  jpy_FT    jpy_df3
0  43.956044  44.104803  48.717949    37.0  49.529781   46.25  45.281523
1  56.043956  55.895197  51.282051    63.0  50.470219   53.75  54.718477

In [280]:
jpy_test_label

      jpy_YF     jpy_BG   jpy_CNBC     jpy_MW     jpy_SA     jpy_FT    jpy_df3
0  65.346535  59.162304  45.714286  50.943396  57.142857  53.521127  56.456044
1  34.653465  40.837696  54.285714  49.056604  42.857143  46.478873  43.543956

In [281]:
jpy_train_label.to_csv("./result/Label/JPY/3/jpy_train_label.csv")
jpy_vlidation_label.to_csv("./result/Label/JPY/3/jpy_vlidation_label.csv")
jpy_test_label.to_csv("./result/Label/JPY/3/jpy_test_label.csv")