In [30]:
import pandas as pd
import numpy as np
from glob import glob

### aud

In [5]:
aud = pd.read_csv('./Pre_data/news/AUDNews105110_5.csv', index_col = 0)
aud_2016 = aud[aud["date"].str.contains("2016.*")]
aud_2017 = aud[aud["date"].str.contains("2017.*")]
aud_2018 = aud[aud["date"].str.contains("2018.*")]
aud_2019 = aud[aud["date"].str.contains("2019.*")]
aud_2020 = aud[aud["date"].str.contains("2020.*")]
aud_2021 = aud[aud["date"].str.contains("2021.*")]

aud_list = [aud_2016,aud_2017,aud_2018,aud_2019,aud_2020,aud_2021]

In [49]:
count = 2016
pd_aud = pd.DataFrame()

for i in aud_list:
    name = "aud_"+str(count)
    dic = {} #資料有的tilte都加進去
    for j in i["source_title"]:
        if j not in dic:
            dic[j] = 1
        elif j in dic:
            dic[j] = dic[j]+1
    my_dict = pd.DataFrame(dic,index=[0])
    pd_aud = pd.concat([pd_aud, my_dict])
    np.save('./result/News_resource/year/aud/'+name+'.npy', dic)
    count+=1

In [50]:
pd_aud

,Forbes,CNBC,Business Insider,Seeking Alpha,Bloomberg Business,International Business Times,MarketWatch,The Wall Street Journal,Financial Times,The Motley Fool,Yahoo Finance
0,314,153,184,205.0,722,67,328,481,82,92,97
0,180,171,229,158.0,537,31,242,181,48,90,183
0,96,513,226,1246.0,168,38,101,135,466,68,907
0,113,551,124,1033.0,268,41,173,47,291,170,1697
0,186,163,155,769.0,640,71,666,84,267,126,568
0,90,45,55,NaN,111,15,309,62,116,83,661

In [31]:
files = glob('./result/News_resource/year/aud/aud_*.npy')

for i in files:
    new_dict = np.load(i, allow_pickle='TRUE')
    print(new_dict)

{'Forbes': 314, 'CNBC': 153, 'Business Insider': 184, 'Seeking Alpha': 205, 'Bloomberg Business': 722, 'International Business Times': 67, 'MarketWatch': 328, 'The Wall Street Journal': 481, 'Financial Times': 82, 'The Motley Fool': 92, 'Yahoo Finance': 97}
{'The Wall Street Journal': 181, 'Forbes': 180, 'CNBC': 171, 'Bloomberg Business': 537, 'Yahoo Finance': 183, 'Business Insider': 229, 'International Business Times': 31, 'The Motley Fool': 90, 'Seeking Alpha': 158, 'Financial Times': 48, 'MarketWatch': 242}
{'Yahoo Finance': 907, 'CNBC': 513, 'Bloomberg Business': 168, 'International Business Times': 38, 'Seeking Alpha': 1246, 'Business Insider': 226, 'MarketWatch': 101, 'The Wall Street Journal': 135, 'The Motley Fool': 68, 'Financial Times': 466, 'Forbes': 96}
{'CNBC': 551, 'Seeking Alpha': 1033, 'Forbes': 113, 'Financial Times': 291, 'The Wall Street Journal': 47, 'Business Insider': 124, 'Bloomberg Business': 268, 'MarketWatch': 173, 'The Motley Fool': 170, 'International Business Times': 41, 'Yahoo Finance': 1697}
{'Seeking Alpha': 769, 'The Motley Fool': 126, 'Forbes': 186, 'Bloomberg Business': 640, 'CNBC': 163, 'Financial Times': 267, 'Business Insider': 155, 'MarketWatch': 666, 'International Business Times': 71, 'The Wall Street Journal': 84, 'Yahoo Finance': 568}
{'The Wall Street Journal': 62, 'Business Insider': 55, 'The Motley Fool': 83, 'Bloomberg Business': 111, 'Forbes': 90, 'Yahoo Finance': 661, 'Financial Times': 116, 'MarketWatch': 309, 'CNBC': 45, 'International Business Times': 15}

### eur

In [32]:
eur = pd.read_csv('./Pre_data/news/EURNews105110_5.csv', index_col = 0)
eur_2016 = eur[eur["date"].str.contains("2016.*")]
eur_2017 = eur[eur["date"].str.contains("2017.*")]
eur_2018 = eur[eur["date"].str.contains("2018.*")]
eur_2019 = eur[eur["date"].str.contains("2019.*")]
eur_2020 = eur[eur["date"].str.contains("2020.*")]
eur_2021 = eur[eur["date"].str.contains("2021.*")]

eur_list = [eur_2016,eur_2017,eur_2018,eur_2019,eur_2020,eur_2021]

{'Forbes': 1277, 'The Wall Street Journal': 3339, 'Bloomberg Business': 5117, 'International Business Times': 682, 'CNBC': 1277, 'MarketWatch': 2265, 'Seeking Alpha': 933, 'Business Insider': 3530, 'Financial Times': 1269, 'Yahoo Finance': 916, 'The Motley Fool': 296}
{'The Wall Street Journal': 1788, 'Business Insider': 1311, 'The Motley Fool': 241, 'Bloomberg Business': 4149, 'CNBC': 1172, 'Forbes': 702, 'Yahoo Finance': 906, 'Seeking Alpha': 565, 'Financial Times': 720, 'International Business Times': 135, 'MarketWatch': 1895}
{'The Wall Street Journal': 1571, 'CNBC': 2731, 'Yahoo Finance': 3579, 'Seeking Alpha': 5196, 'Financial Times': 4788, 'Bloomberg Business': 1318, 'Business Insider': 959, 'The Motley Fool': 230, 'MarketWatch': 798, 'International Business Times': 143, 'Forbes': 419}
{'Financial Times': 3961, 'CNBC': 3922, 'The Wall Street Journal': 336, 'Seeking Alpha': 3609, 'Business Insider': 638, 'Forbes': 1185, 'MarketWatch': 855, 'Bloomberg Business': 2020, 'The Motley Fool': 479, 'International Business Times': 1107, 'Yahoo Finance': 4780}
{'Seeking Alpha': 2812, 'International Business Times': 3000, 'Financial Times': 3332, 'Business Insider': 511, 'Forbes': 1008, 'Bloomberg Business': 3294, 'The Motley Fool': 350, 'CNBC': 731, 'MarketWatch': 1439, 'The Wall Street Journal': 440, 'Yahoo Finance': 2431}
{'MarketWatch': 780, 'Financial Times': 1359, 'The Motley Fool': 154, 'International Business Times': 1273, 'Forbes': 488, 'Bloomberg Business': 673, 'The Wall Street Journal': 328, 'Yahoo Finance': 2546, 'CNBC': 210, 'Business Insider': 228}

In [58]:
count = 2016
pd_eur = pd.DataFrame()
for i in eur_list:
    name = "eur_"+str(count)
    dic = {} #資料有的tilte都加進去
    for j in i["source_title"]:
        if j not in dic:
            dic[j] = 1
        elif j in dic:
            dic[j] = dic[j]+1
    my_dict = pd.DataFrame(dic,index=[0])
    pd_eur = pd.concat([pd_eur, my_dict])
    np.save('./result/News_resource/year/eur/'+name+'.npy', dic)
    count+=1

In [59]:
pd_eur

,Forbes,The Wall Street Journal,Bloomberg Business,International Business Times,CNBC,MarketWatch,Seeking Alpha,Business Insider,Financial Times,Yahoo Finance,The Motley Fool
0,1277,3339,5117,682,1277,2265,933.0,3530,1269,916,296
0,702,1788,4149,135,1172,1895,565.0,1311,720,906,241
0,419,1571,1318,143,2731,798,5196.0,959,4788,3579,230
0,1185,336,2020,1107,3922,855,3609.0,638,3961,4780,479
0,1008,440,3294,3000,731,1439,2812.0,511,3332,2431,350
0,488,328,673,1273,210,780,NaN,228,1359,2546,154

In [53]:
files = glob('./result/News_resource/year/eur/eur_*.npy')

for i in files:
    new_dict = np.load(i, allow_pickle='TRUE')
    print(new_dict)

{'Forbes': 1277, 'The Wall Street Journal': 3339, 'Bloomberg Business': 5117, 'International Business Times': 682, 'CNBC': 1277, 'MarketWatch': 2265, 'Seeking Alpha': 933, 'Business Insider': 3530, 'Financial Times': 1269, 'Yahoo Finance': 916, 'The Motley Fool': 296}
{'The Wall Street Journal': 1788, 'Business Insider': 1311, 'The Motley Fool': 241, 'Bloomberg Business': 4149, 'CNBC': 1172, 'Forbes': 702, 'Yahoo Finance': 906, 'Seeking Alpha': 565, 'Financial Times': 720, 'International Business Times': 135, 'MarketWatch': 1895}
{'The Wall Street Journal': 1571, 'CNBC': 2731, 'Yahoo Finance': 3579, 'Seeking Alpha': 5196, 'Financial Times': 4788, 'Bloomberg Business': 1318, 'Business Insider': 959, 'The Motley Fool': 230, 'MarketWatch': 798, 'International Business Times': 143, 'Forbes': 419}
{'Financial Times': 3961, 'CNBC': 3922, 'The Wall Street Journal': 336, 'Seeking Alpha': 3609, 'Business Insider': 638, 'Forbes': 1185, 'MarketWatch': 855, 'Bloomberg Business': 2020, 'The Motley Fool': 479, 'International Business Times': 1107, 'Yahoo Finance': 4780}
{'Seeking Alpha': 2812, 'International Business Times': 3000, 'Financial Times': 3332, 'Business Insider': 511, 'Forbes': 1008, 'Bloomberg Business': 3294, 'The Motley Fool': 350, 'CNBC': 731, 'MarketWatch': 1439, 'The Wall Street Journal': 440, 'Yahoo Finance': 2431}
{'MarketWatch': 780, 'Financial Times': 1359, 'The Motley Fool': 154, 'International Business Times': 1273, 'Forbes': 488, 'Bloomberg Business': 673, 'The Wall Street Journal': 328, 'Yahoo Finance': 2546, 'CNBC': 210, 'Business Insider': 228}

### jpy

In [60]:
jpy = pd.read_csv('./Pre_data/news/JPYNews105110_5.csv', index_col = 0)
jpy_2016 = jpy[jpy["date"].str.contains("2016.*")]
jpy_2017 = jpy[jpy["date"].str.contains("2017.*")]
jpy_2018 = jpy[jpy["date"].str.contains("2018.*")]
jpy_2019 = jpy[jpy["date"].str.contains("2019.*")]
jpy_2020 = jpy[jpy["date"].str.contains("2020.*")]
jpy_2021 = jpy[jpy["date"].str.contains("2021.*")]

jpy_list = [jpy_2016,jpy_2017,jpy_2018,jpy_2019,jpy_2020,jpy_2021]

In [61]:
pd_jpy = pd.DataFrame()
count = 2016
for i in jpy_list:
    name = "jpy_"+str(count)
    dic = {} #資料有的tilte都加進去
    for j in i["source_title"]:
        if j not in dic:
            dic[j] = 1
        elif j in dic:
            dic[j] = dic[j]+1
    my_dict = pd.DataFrame(dic,index=[0])
    pd_jpy = pd.concat([pd_jpy, my_dict])
    np.save('./result/News_resource/year/jpy/'+name+'.npy', dic)
    count+=1

In [62]:
pd_jpy

,Forbes,CNBC,International Business Times,Business Insider,Bloomberg Business,The Wall Street Journal,Financial Times,Seeking Alpha,MarketWatch,Yahoo Finance,The Motley Fool
0,386,703,297,1146,2319,1551,390,518.0,1383,703,265
0,160,515,30,336,1165,425,125,300.0,820,563,164
0,45,1590,41,195,331,408,863,1966.0,290,1770,130
0,146,2196,190,72,553,81,466,1170.0,209,1346,165
0,120,352,1118,62,755,78,285,878.0,332,1029,97
0,39,79,524,16,117,54,82,NaN,168,1037,52

In [57]:
files = glob('./result/News_resource/year/jpy/jpy_*.npy')

for i in files:
    new_dict = np.load(i, allow_pickle='TRUE')
    print(new_dict)

{'Forbes': 1277, 'The Wall Street Journal': 3339, 'Bloomberg Business': 5117, 'International Business Times': 682, 'CNBC': 1277, 'MarketWatch': 2265, 'Seeking Alpha': 933, 'Business Insider': 3530, 'Financial Times': 1269, 'Yahoo Finance': 916, 'The Motley Fool': 296}
{'The Wall Street Journal': 1788, 'Business Insider': 1311, 'The Motley Fool': 241, 'Bloomberg Business': 4149, 'CNBC': 1172, 'Forbes': 702, 'Yahoo Finance': 906, 'Seeking Alpha': 565, 'Financial Times': 720, 'International Business Times': 135, 'MarketWatch': 1895}
{'The Wall Street Journal': 1571, 'CNBC': 2731, 'Yahoo Finance': 3579, 'Seeking Alpha': 5196, 'Financial Times': 4788, 'Bloomberg Business': 1318, 'Business Insider': 959, 'The Motley Fool': 230, 'MarketWatch': 798, 'International Business Times': 143, 'Forbes': 419}
{'Financial Times': 3961, 'CNBC': 3922, 'The Wall Street Journal': 336, 'Seeking Alpha': 3609, 'Business Insider': 638, 'Forbes': 1185, 'MarketWatch': 855, 'Bloomberg Business': 2020, 'The Motley Fool': 479, 'International Business Times': 1107, 'Yahoo Finance': 4780}
{'Seeking Alpha': 2812, 'International Business Times': 3000, 'Financial Times': 3332, 'Business Insider': 511, 'Forbes': 1008, 'Bloomberg Business': 3294, 'The Motley Fool': 350, 'CNBC': 731, 'MarketWatch': 1439, 'The Wall Street Journal': 440, 'Yahoo Finance': 2431}
{'MarketWatch': 780, 'Financial Times': 1359, 'The Motley Fool': 154, 'International Business Times': 1273, 'Forbes': 488, 'Bloomberg Business': 673, 'The Wall Street Journal': 328, 'Yahoo Finance': 2546, 'CNBC': 210, 'Business Insider': 228}